header {
  text-align: center;

  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #d62828;
}

body {
  text-align: center;
  background-color: #081c15;
  color: hsl(261, 88%, 90%);
}

.container {
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#password-input {
  height: 30px;
  width: 90%;

  font-size: large;
  text-align: center;

  padding: 0.25rem 0.75rem;

  border: 5px solid #264653;

  border-radius: 0.5rem;
}

.strength-meter {
  position: relative;
  height: 2rem;
  width: 90%;
  border: 3px solid #fcbf49;
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.strength-meter::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(1% * var(--strength, 0));
  background-color: #fcbf49;

  transition: width 200ms;
}

.reasons > * {
  margin-top: 0.5rem;
  color: hsl(261, 88%, 90%);
}
